@model List<Mhetrika.Web.ViewModels.PatientViewModel>

@{
    ViewData["Title"] = "Pacientes";
}

<h2>Pacientes</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nome do Paciente</th>
            <th>CPF</th>
            <th>E-Mail</th>
            <th>Telefone</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cpf)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.ActionLink("Novo Exame", "ChooseTest", "Test", new { id = item.Id }, new { style = "text-decoration: none; color: white;", @class = "btn btn-success" })
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $("#btnNewExam").click(function () {


        });
     });
</script>